body {
    background-color: #C6C6C6;
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;

    
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.profile-image {
    flex: 1;
    background-image: url("/My_Projects/CSS3/Exercicios/Exercicio_tarde/EthanMarcotte_img.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh; /* Define a altura da imagem para ocupar 100% da altura da viewport */
}

h1 {
    margin: 0;
    line-height: 1;
    color: white;
}

.profile-content {
    flex: 1;
    text-align: left;
    margin: 15px;
    color: black;
    font-size: 1.33em;
}