body {
    background-color: green;
    font-family: Verdana, sans-serif;
  }
  
  h1 {
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color: red;
  }
  
  p, i {
    font-size: 14px;
  }
  